*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
  
  :root{
    --primaryColor:#9400ff;
    --radus: 3px;
  }
  
   body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,98,1) 100%, rgba(0,212,255,1) 100%);
   }
  
   main{
    width: 90%;
    max-width: 400px;
    height: 207px;
    background-color: white;
    border-radius: var(--radus);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    overflow: hidden;
    transition: .2s;
   }
   .show{
    height: 480px;
   }
  
   input{
    padding: 10px;
    font-size: 20px;
    border: 2px solid var(--primaryColor);
    border-radius: var(--radus);
   }
  
   button{
    padding: 10px;
    font-size: 20px;
    background-color: var(--primaryColor);
    border: none;
    border-radius: var(--radus);
    color: white;
    font-weight: bold;
    cursor: pointer;
   }
  
   .qrbox{
    text-align: center;
    padding: 10px;
    border-radius: var(--radus);
    border: 2px solid var(--primaryColor);
   }

   footer, a{
    text-decoration: none;
   }

   footer, p{
    color: white;
    font-size: 20px;
   }